@font-face{
    font-family: "Lain";
    src: url('lain.ttf');
}
body {
	background-image: url('cyberiacafe/lain/background_01.png');
    font-family: Lain;
    color:white;
}
a {
    text-decoration:none;
}
.banner {
    float:left;
    height: 46px;
}