body {
	background-image: url('media/tangbg.png');
    background-position: top;
    background-size:100%;
	background-color: #2d2d2d;
	color: white;
	font-family: Arial;
}

.entry {
    font-size:x-large;
    background:black;
    text-align:center;
    width:fit-content;
    margin:0 auto;
}

.date {
    color:white;
    background:black;
    font-size:small;
    font-style: italic;
}

a {
    text-decoration:none;
    color:yellow;
}